body{
	/*font-family: 'Arial Narrow';*/
	font-family: 'Montserrat', sans-serif;
	background-color: #f2726b;
}

#alert{
	display: none;
	width: 50%;
	padding: 0 1em;
	border: 3px solid black;
	margin: auto;
	position: absolute;
	top: 30%;
	background-color: white;
	left: 25%;
	text-align: center;
}

h1, h4, p{
	text-align: center;
}

h1{
	font-size: 60px;
}

div#intro{
	width: 60%;
	margin: auto;
	display: block;
	padding: 0;
}

div#intro h4{
	font-size: 2em;
	font-weight: 500;
	padding: 0;
	width: 90%;
	display: block;
	color: white;
	margin: auto;
	margin-bottom: 0.5em;
}

div#intro p{
	width: 80%;
	font-weight: 200;
	display: block;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
}

div#level1, div#level2{
	display: block;
	margin: auto;
	padding: 1em;
}

#buttons{
	display: block;
	width: 30%;
	margin: auto;
	margin-top: 1.5em;
}

#button1, #button2{
	text-align: center;
	margin-bottom: 1em;
	border: 3px solid white;
	width: 45%;
	display: inline-block;
	margin: auto;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: white;
}

#logo img{
	width: 8%;
}

/* --------------- Learning page ----------*/

.logo-title{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	width: 5%;
	font-size: 14px;
	line-height: 10px;
}

#logo-learning-page{
	width: 10%;
	margin: 1em;
}

#logo-learning-page img{
	width: 100%;
}

.learning-page{
	background-color: white;
	margin: 0;
}

#container{
	width: 100%;
	display: inline-block;
	margin: auto;
}

#letter{
	width: 50%;
	height: 450px;
	display: block;
	margin: auto;
}

#letter img{
	width: 100%;
}

#intro-img{
	width: 20%;
	display: block;
	margin: auto;
	margin-bottom:0.5em;
}

#intro-img img{
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom:0.5em;
}

hr{
	padding: 0.1em;
	background-color: #f2726b;
	border: none;
	width: 95%;
}

#row1, #row2{
	display: block;
	width: 90%;
	margin: auto;
}

#row2{
	margin-top: -45px;
}

#row1 .image, #row2 .image{
	width: 5%;
	margin-bottom: 1em;
	margin-right: 1em;
	display: inline-block;
}

#row1.image img{
	width: 100%;
}

#footer{
	width: 100%;
	display: block;
	background-color: #f2726b;
	bottom: 0;
	padding: 0.5em;
}

#footer p{
	color: grey;
	font-weight: 200;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}