@media only screen and (min-device-width:480px){
	div#intro h4{
		font-size: 1em;
		font-weight: 500;
		padding: 0;
		width: 90%;
		display: block;
		color: white;
		margin: auto;
		margin-bottom: 1em;
	}
}


body{
	/*font-family: 'Arial Narrow';*/
	font-family: 'Montserrat', sans-serif;
	background-color: #f2726b;
}

h1, h4, p{
	text-align: center;
}

h1{
	font-size: 60px;
}

div#intro{
	width: 60%;
	margin: auto;
	display: block;
	padding: 0;
}

div#intro h4{
	font-size: 2em;
	font-weight: 500;
	padding: 0;
	width: 90%;
	display: block;
	color: white;
	margin: auto;
	margin-bottom: 0.5em;
}

div#intro p{
	width: 80%;
	font-weight: 200;
	display: block;
	margin: auto;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
}

div#level1, div#level2{
	display: block;
	margin: auto;
	padding: 1em;
}

#buttons{
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 1.5em;
}

#button1, #button2{
	text-align: center;
	margin-bottom: 1em;
	border: 3px solid white;
	width: 25%;
	display: block;
	margin: auto;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: white;
}

#logo img{
	width: 8%;
	/*height: 20px;*/
	/*left: 0;*/
	/*margin: -50px;*/
	/*background-color: black;*/
	/*border-radius: 10px;*/
	/*display: inline-block;*/
}

/* --------------- Learning page ----------*/

.logo-title{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	width: 5%;
	font-size: 14px;
	line-height: 10px;
}

#logo-learning-page{
	width: 10%;
	margin: 1em;
	/*margin-left: -30px;*/
	/*margin-top: -40px;*/
	/*height: 130px;*/
}

#logo-learning-page img{
	width: 100%;
}

.learning-page{
	background-color: white;
	margin: 0;
}

#container{
	width: 100%;
	display: inline-block;
	margin: auto;
	padding-top: 3em;
}

#letter{
	width: 50%;
	height: 500px;
	display: block;
	margin: auto;
	padding-top: 2em;
}

#intro-img{
	width: 20%;
	display: block;
	margin: auto;
	margin-bottom:0.5em;
}

#intro-img img{
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom:0.5em;
}

hr{
	padding: 0.1em;
	background-color: #f2726b;
	border: none;
	width: 95%;
}

#row{
	display: block;
	width: 100%;
	padding: 0.5em 1em;
	/*border-right: 2px solid grey;*/
}

#row #image{
	width: 4%;
	margin-bottom: 1em;
	margin-right: 1em;
	display: inline-block;
}

#row#image img{
	width: 100%;
}

#footer{
	width: 100%;
	display: block;
	background-color: grey;
	bottom: 0;
	padding: 0.5em;
	margin-top: 2em;
}

#footer p{
	color: white;
	font-weight: 200;
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}